@use 'mixins' as m;

:root {
  --color-bg: #053453;
  --color-active: #0f7dc6;
  --color-error: #f9004b;
  --anima-duration: 0.3s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-bg);
}

h2 {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-active);
}

button,
a,
input {
  transition: all var(--anima-duration) ease-in-out;
}

p {
  text-indent: 1.5em;
  text-align: justify;
}

p,
h1,
h2 {
  &::first-letter {
    text-transform: capitalize;
  }
}

.container {
  width: Min(900px, 100vw);
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.button {
  display: flex;
  @include m.field;

  &:hover {
    @include m.hover-colors;
  }
}

.error {
  color: var(--color-error);
}

.link {
  @include m.link-style;

  &:hover {
    color: var(--color-active);
  }
}

.active-nav {
  cursor: default;
  border-bottom: 0.5px solid var(--color-active);

  &:hover {
    color: var(--color-bg);
  }
}

.contact {
  @include m.link-style;
  color: var(--color-active);
  font-weight: 500;

  &:hover {
    color: var(--color-bg);
  }
}
