@use 'mixins' as m;

form {
  display: flex;
  gap: 5px;

  & > * {
    margin: 0 !important;
  }

  input {
    @include m.input-style;

    &:not([type='submit']):focus,
    &[type='submit']:hover {
      @include m.hover-colors;
    }

    &[type='submit'],
    &[type='checkbox'] {
      cursor: pointer;
    }

    &[type='submit'] {
      background: none;
    }

    &[type='checkbox'] {
      align-self: center;
    }
  }

  label {
    align-self: center;
  }
}
