header {
  background-color: var(--color-bg);
  padding: 0.5rem 0;
  text-align: center;
  & > a {
    color: var(--color-white);
    text-decoration: none;
    padding: 0 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
