main {
  flex-grow: 1;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-bg);
    border-radius: 50px;
  }

  & > div {
    & > a,
    & > ul > li > a {
      text-decoration: none;
      color: var(--color-bg);

      &:hover {
        color: var(--color-active);
      }
    }

    & > ul > li,
    & > *,
    & > * > * {
      margin-bottom: 5px;
    }
  }
}
